*{
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("imgs/background.jpg");

    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;

    

}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.5em;
    margin-top: 1em;
}

h3 {
    font-size: 1.2em;
}

button {
    margin: 0.5em;
    width: 70%
}

h1, h2, h3, button {
    font-family: "Orbitron", sans-serif;
}
header {
    background-color: black;
    color: white;
    opacity: 70%;
    width: 100%;
    height: 100%;
    display: inline-flexbox;
    text-align: center;   
    padding: 16px;
    
}

hr {

    
    border: 1px solid white;
}

.roverImage{
    
    max-width: 500px;
    max-height: 60%;
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    align-self: center;
    width: auto;
    height: auto;
    display: inline-block;
}
.rover{
    display: inline-block;
}
.centered{
    display: flex;
    width: auto;
    height: auto;
    
}
.nasaimage {
    max-height: 20%;
    max-width: 20%;
    display: inline-flexbox;
    
}

.popUp{
    width: 500px;
    height: 500px;
    background-color: brown;
    display: none;
}
.container{
    display: flexbox;
}
.hidden {
    visibility: hidden;
    max-width: 20%;
    display: inline-block;
}
.headerh1 {
    width: 100%
}

@media only screen and (min-width: 980px) {
}
h1 {
    font-size: 2;
}   
.headerhr {
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-bottom: 0px;
}
.changablerover {
    max-width: 500px;
    max-height: 60%;
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    align-self: center;
    width: auto;
    height: auto;
    display: inline-block;
}
.roverbutton {
    display: flex;
    max-width: 15.5em;
    align-items: stretch;
}